*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;   
}

body{
    background-color: rgb(21, 26, 41);
    background-position: center;
    background-size: cover;
    height: 100%;
    font-family: sans-serif;
}

.aligner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quiz{
    display: grid;
    grid-template-rows: 60px auto;
    margin-top: 2%;
    width: 90%;
    height: 40vh;
    margin-bottom: 4vh;
}

.quiz_header{
    text-align: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.quiz_user{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

.quiz_body{
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 20px 30px;
    background-color: skyblue;
}

.option_group{
    list-style-type: none;
    margin: 30px 0;
}

.option{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.item {
    display: flex;
    flex-direction: row;
    margin-bottom: 4vh;
}

/* .option:hover{
    cursor: pointer;
    border: 2px solid #341f97;
    color: #341f97;
}

.option.active{
    background-color: #341f97;
    color: #fff;
} */

.btn-next{
    border: none;
    padding: 15px 35px;
    background-color: #341f97;
    color: #fff;
    border-radius: 50px;
    transition: 0.4s all;
}

.btn-next:hover{
    cursor: pointer;
    background-color: greenyellow;
    color: #000;
}

.award_icon{
    display: block;
    font-size: 300px;
    color: #fff;
}

.username, .userpoints{
    color: #fff;
    text-align: center;
    margin-top: 15px;
}

.border{
    height: 500px;
    width: 500px;
    display: block;
    justify-content: center;
    margin: 0px 400px;
    border-radius: 10px;
    top: 100px;
    border-color: transparent;
}

.butt {
    width: 43.75vw;
    height: 20vh;
    border-radius: 10px;
}

.third, .second{
    margin-right: 2.5vw;
}

.first {
    background-color: yellow;
}

.second {
    background-color: red;
}

.third{
    background-color: blue;
}

.fourth{
    background-color: green;
}

#time {
    color:#000000;
    font-family:Arial;
    position: relative;
    left: 50%;
    margin-top: 25%;
    border-radius: 5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    -ms-border-radius:5px;
}

#stopwatch {
    /* width: 2vw;
    height: 2vh; */
    border:2px solid #3399cc;
    border-radius: 100%;
    -webkit-border-radius:100%;
}

#timer {
    display: flex;
    flex-direction: row;
    position:relative;
    
}