body{
    background-color: purple;
    background-position: center;
    background-size: cover;
    height: 100%;
}
.container {
    display: flex;
    align-content: flex-end;
    margin-left: auto;
    margin-top: 14%;
    flex-direction: row;    
    justify-content: center;
    align-items: flex-end;
  }

  .podium__item {
    width: 200px;
  }
  
  .podium__rank {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #000000;
    font-weight: bold;
  }
  
  .podium__city {
    text-align: center;
    padding: 0 .5rem;
  }
  
  .podium__number {
    width: 27px;
    height: 75px;
  }
  
  .podium .first {
    min-height: 300px;
    background: rgb(218, 165, 32, 1);
  background: 
    linear-gradient(333deg, 
    rgb(218, 165, 32, 1) 0%, 
    rgb(214, 173, 70) 13%, 
    rgb(252, 220, 138) 53%, 
    rgb(217, 158, 7) 100%);
  }
  
  .podium .second {
    min-height: 200px;
    background: rgba(192, 192, 192, 1);
    background: 
    linear-gradient(333deg, 
    rgba(192, 192, 192, 1) 0%, 
    rgb(209, 209, 209) 13%, 
    rgb(255, 255, 255) 53%, 
    rgb(169, 168, 168) 100%);
  }
  
  .podium .third {
    min-height: 100px;
    background: rgba(80, 49, 19, 1);
    background: 
    linear-gradient(333deg, 
    rgba(80, 49, 19, 1) 0%, 
    rgb(110, 67, 24) 13%, 
    rgb(168, 105, 41) 53%, 
    rgb(70, 44, 17) 100%);
  }